     Data Types and Structures


1.What are data structures, and why are they important?

->Data structures are methods of organizing and storing data in a computer so it can be accessed and processed efficiently. They are important because they improve program performance, reduce memory usage, help solve complex problems, and make code easier to manage. Data structures are essential for software development, computer science studies, and programming interviews.

2.Explain the difference between mutable and immutable data types with examples.

->Mutable data types are those whose values can be changed after creation.
Immutable data types are those whose values cannot be changed once created.

Examples:

Mutable: list, dictionary, set

Immutable: int, float, string, tuple

3.What are the main differences between lists and tuples in Python?

->The main differences between lists and tuples in Python are:

Mutability: Lists are mutable (can be changed), while tuples are immutable (cannot be changed).

Syntax: Lists use square brackets [], tuples use parentheses ().

Performance: Tuples are faster than lists.

Memory: Tuples use less memory.

Use case: Lists are used when data needs modification; tuples are used for fixed data.

4.Describe how dictionaries store data.

->Dictionaries store data in key-value pairs. Each key is unique and is used to access its corresponding value. Python dictionaries use a hashing technique, where keys are converted into hash values to determine where data is stored in memory. This allows fast lookup, insertion, and deletion of values using their keys.

5.Why might you use a set instead of a list in Python?

->You might use a set instead of a list in Python because sets store only unique elements and automatically remove duplicates. Sets also provide faster membership testing (in operation) compared to lists. They are useful when you need to ensure data uniqueness or perform operations like union, intersection, and difference.

6.What is a string in Python, and how is it different from a list?

->A string in Python is a sequence of characters used to store text and is immutable. A list is a sequence of items that can store different data types and is mutable. Strings use quotes (" " or ' '), while lists use square brackets ([]). Elements of strings cannot be changed, but list elements can be modified.

7.How do tuples ensure data integrity in Python?

->Tuples ensure data integrity in Python because they are immutable, meaning their elements cannot be changed after creation. This prevents accidental modification of data. Because of this fixed nature, tuples are often used to store constant or read-only data, ensuring values remain consistent throughout program execution.

8.What is a hash table, and how does it relate to dictionaries in Python?

->A hash table is a data structure that stores data in key-value pairs using a hash function to compute an index for fast access.
In Python, dictionaries are implemented using hash tables. Each key is hashed to determine where its value is stored in memory, allowing very fast lookup, insertion, and deletion operations.

9.Can lists contain different data types in Python?

->Yes, lists in Python can contain different data types. A single list can store integers, floats, strings, and even other lists together.

10.Explain why strings are immutable in Python.

->Strings are immutable in Python to improve performance, memory efficiency, and security. Since strings cannot be changed, Python can safely reuse and share string objects in memory. Immutability also prevents accidental modification of text data, making strings reliable for use as dictionary keys and in situations where data integrity is important.

11.What advantages do dictionaries offer over lists for certain tasks?

->Dictionaries offer faster data access using keys instead of indexes, making lookups very efficient. They store data as key-value pairs, which improves readability and organization. Dictionaries are ideal when you need to search, update, or manage data by unique identifiers, whereas lists are better for ordered collections.

12.Describe a scenario where using a tuple would be preferable over a list.

->Using a tuple is preferable when you need to store fixed data that should not change, such as coordinates (x, y), RGB color values, or days of the week. Since tuples are immutable, they protect data from accidental modification and are slightly faster and more memory-efficient than lists.

13.How do sets handle duplicate values in Python?

->In Python, sets automatically handle duplicates by storing only unique values. When you add a duplicate element to a set, it is ignored and not stored again. This ensures that every element in a set appears only once, making sets useful for removing duplicates and performing mathematical set operations.

14.How does the “in” keyword work differently for lists and dictionaries?

->The in keyword checks for membership, but it works differently for lists and dictionaries:

Lists: Checks if a value exists in the list.

Dictionaries: Checks if a key exists (not the value).

15.Can you modify the elements of a tuple? Explain why or why not.

->No, you cannot modify the elements of a tuple because tuples are immutable. Once a tuple is created, its values are fixed, and any attempt to change, add, or remove elements will result in an error. This immutability ensures data integrity and allows tuples to be used safely as dictionary keys or in situations where constant data is needed.

16.What is a nested dictionary, and give an example of its use case?

->A nested dictionary in Python is a dictionary that contains another dictionary (or dictionaries) as its values. This allows you to store structured, hierarchical data.

Example Use Case: Storing student information with multiple attributes:

In [ ]:
students = {
    "Alice": {"age": 20, "grade": "A"},
    "Bob": {"age": 22, "grade": "B"}
}
print(students["Bob"]["grade"])

B

17.Describe the time complexity of accessing elements in a dictionary.

->Accessing elements in a dictionary is generally O(1) — constant time.

This is because Python dictionaries use a hash table internally. The key is hashed to compute an index where the value is stored, allowing direct access without scanning all elements.

18.In what situations are lists preferred over dictionaries?

->Lists are preferred over dictionaries when:

Order matters - You need to maintain the sequence of elements.

Indexed access - You want to access elements by position rather than key.

Simple collections - Storing items without unique identifiers or key-value mapping.

Iterating in order - Loops over all elements in a fixed order.

Example: Storing daily temperatures [30, 32, 28, 31] where order matters.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?

->Dictionaries are considered unordered because, before Python 3.7, they did not maintain the order in which items were added. Even though modern Python preserves insertion order, the dictionary is still conceptually accessed by keys, not positions.

Effect on data retrieval: You cannot rely on the position of items; you must access values using keys, not indices.

20.Explain the difference between a list and a dictionary in terms of data retrieval.

->The difference in data retrieval is that a list retrieves elements by their position (index), so you must know the element’s position to access it. In contrast, a dictionary retrieves elements by key, allowing direct access to a value without knowing its position. This makes dictionary lookups generally faster and more intuitive when using unique identifiers.

In [1]:
'''1.Write a code to create a string with your name and print it.'''
name = "Prashant Shrivastav"
print(name)

Prashant Shrivastav

In [2]:
'''2.Write a code to find the length of the string "Hello World".'''
text = "Hello World"
length = len(text)
print(length)

11

In [3]:
'''3.Write a code to slice the first 3 characters from the string "Python Programming".'''
text = "Python Programming"
result = text[:3]
print(result)

Pyt

In [4]:
'''4.Write a code to convert the string "hello" to uppercase.'''
text = "hello"
print(text.upper())

HELLO

In [5]:
'''5.Write a code to replace the word "apple" with "orange" in the string "I like apple".'''
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [6]:
'''6.Write a code to create a list with numbers 1 to 5 and print it.'''
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
'''7.Write a code to append the number 10 to the list [1, 2, 3, 4].'''
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [8]:
'''8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].'''
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [9]:
'''9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].'''
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [10]:
'''10.Write a code to reverse the list [10, 20, 30, 40, 50].'''
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [11]:
'''11.Write a code to create a tuple with the elements 100, 200, 300 and print it.'''
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [12]:
'''12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').'''
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [13]:
'''13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).'''
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [14]:
'''14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').'''
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [15]:
'''15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.'''
fruits = ("apple", "banana", "mango")

if "kiwi" in fruits:
    print("Kiwi is in the tuple")
else:
    print("Kiwi is not in the tuple")

Kiwi is not in the tuple

In [16]:
'''16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.'''
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [17]:
'''17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.'''
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [18]:
'''18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.'''
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [19]:
'''19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.'''
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [20]:
'''20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.'''
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [21]:
'''21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.'''
person = {
    "name": "Prashant",
    "age": 22,
    "city": "Gorakhpur"
}

print(person)

{'name': 'Prashant', 'age': 22, 'city': 'Gorakhpur'}

In [22]:
'''22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.'''
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
'''23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.'''
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [24]:
'''24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.'''
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [25]:
'''25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.'''
person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("Key 'city' exists in the dictionary")
else:
    print("Key 'city' does not exist in the dictionary")

Key 'city' exists in the dictionary

In [26]:
'''26.Write a code to create a list, a tuple, and a dictionary, and print them all.'''

my_list = [1, 2, 3, 4]

my_tuple = (5, 6, 7, 8)

my_dict = {"name": "Alice", "age": 25}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4]
Tuple: (5, 6, 7, 8)
Dictionary: {'name': 'Alice', 'age': 25}

In [27]:
'''27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)'''
import random

numbers = [random.randint(1, 100) for _ in range(5)]

numbers.sort()

print(numbers)

[26, 39, 42, 71, 100]

In [28]:
'''28.Write a code to create a list with strings and print the element at the third index.'''

fruits = ["apple", "banana", "cherry", "date", "elderberry"]

print(fruits[3])

date

In [29]:
'''29.Write a code to combine two dictionaries into one and print the result.'''

dict1 = {"name": "Alice", "age": 25}
dict2 = {"city": "Paris", "country": "France"}

combined_dict = {**dict1, **dict2}

print(combined_dict)

{'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

In [30]:
'''30.Write a code to convert a list of strings into a set.'''
fruits = ["apple", "banana", "cherry", "apple", "banana"]

fruits_set = set(fruits)

print(fruits_set)

{'banana', 'apple', 'cherry'}